<?xml version="1.0" ?>
<settings>
    <utilities>
        <utility name="KDiff3">
			<default>TRUE</default>
            <executable>C:\Program Files\KDiff3\kdiff3.exe</executable>
            <mergeCommand>-b $BASE $LOCAL $REMOTE -o $MERGED --auto</mergeCommand>
			<diffCommand>$LOCAL $REMOTE</diffCommand>			
            <ext>.c</ext>
            <ext>.cpp</ext>
            <ext>.h</ext>
			<ext>.py</ext>
			<ext>.cs</ext>
			<ext>.xml</ext>
			<ext>.txt</ext>
			<ext>.m</ext>
			<ext>.py</ext>
			<ext>.rc</ext>
			<ext>.sln</ext>
        </utility>
		<utility name="Rhapsody DiffMerge">
            <executable>c:\win32app\Rhapsody\DiffMerge.exe</executable>
			<mergeCommand>-merge -recursive $LOCAL $REMOTE -base $BASE -out $MERGED -xmerge</mergeCommand>
			<diffCommand>$LOCAL $REMOTE</diffCommand>
            <ext>.sbs</ext>
            <ext>.cmp</ext>
			<ext>.omd</ext>	
			<ext>.cls</ext>
		</utility>
    </utilities>
</settings>